header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0 22px;
    height: 80px;
    background-color: var(--w1);
    position: fixed;
    top: 0;
}


.logo {
    width: 75px;
    height: 53px; 
}

.contacts {
    width: 45px;
    height: 45px;
}

