main {
    padding-top: 90px;
    padding-bottom: 90px;
    height: 100vh;
    overflow-y: scroll;
}

.message {
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 40px;
    width: 100%;
}

.time {
    color: var(--g2);
    margin-right: 10px;
}