main {
    margin-top: 90px;
    margin-bottom: 90px;
}

.message {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
}

.time {
    color: var(--g2);
    margin-right: 10px;
}